services:
  zendesk-dashboard:
    image: zjxteusa/zendesk-dashboard:latest
    container_name: zendesk-dashboard
    ports:
      - "5000:5000"
    environment:
      - SUBDOMAIN=${SUBDOMAIN}
      - ZENDESK_API_KEY=${ZENDESK_API_KEY}
      - ZENDESK_USER=${ZENDESK_USER}
      - DB_SERVER=${DB_SERVER}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    restart: unless-stopped
